body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 15px 75px;
    /* height: 88px; */
    height: 11vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-between; */
    /* position: relative; */
}

.header-utilities {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    /* font-weight: bold; */
    font-size: 32px;
    margin: 0;
    /* line-height: 58px; */
}

/* .header-utilities nav {
    width: 50%;
} */

.header-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #F2F2F2;
    position: fixed; */
}

/* .header-nav__item {
    width: 25%;
} */

/* .header-nav-item {
    margin-left: 40px;
} */

.header-nav__link {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    margin-left: 45px;
   /* font-weight: bold; */
}

.header-nav__form {
    display: inline-block;
    margin-left: 45px;
}

.header-nav__button {
    border: none;
    padding: 0;
    background: transparent;
    /* color: #000; */
    font-size: 16px;
    cursor: pointer;
    /* 改行しない（スペースあるのになぜか改行されてしまうので指定） */
    white-space: pre;
    display: inline-block;
    /* font-weight: bold; */
}

.footer__inner {
    margin: 0 auto;
    padding: 10px 0;
    /* height: 40px; */
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    font-size: 12px;
    margin: 0;
}

/* ページネーション */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination li:not(.active) {
    /* border: 1px solid #E0DFDE; */
    border: 1px solid #E3E6E9;
    background-color: #FFFFFF;
    padding: 9px 16px;
    /* padding: 10px 17px; */
}

/* .pagination li:not(:last-child) {
    border-right: none;
} */

.pagination li:first-child {
    border-radius: 5px 0 0 5px;
    color: #909090;
}

.pagination li:last-child {
    border-radius: 0 5px 5px 0;
    color: #909090;
}

.pagination a {
    color: #2384CF;
    text-decoration: none;
}

.pagination__link {
    text-decoration: none;
}

.active {
    padding: 9px 16px;
    /* padding: 10px 17px; */
    border: 1px solid #2384CF;
    background-color: #2384CF;
    color: #FFFFFF;
}

#btn {
    display: none;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .header__inner {
        padding: 15px 50px;
    }

    #btn {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .header__inner {
        padding: 15px 50px;
    }

    .header__logo {
        font-size: 28px;
        line-height: 36px;
    }

    .footer__logo {
        font-size: 10px;
        /* line-height: 10px; */
    }

    #btn {
        position: fixed;
        top: 10px;
        right: 25px;
        width: 44px;
        height: 44px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
    }

    #btn span {
        display: block;
        background-color: #000;
        width: 36px;
        height: 2px;
        transition: all 0.5s ease;
    }

    /* #btn.on span {
        background-color: #fff;
    } */

    #btn.on span:nth-of-type(1) {
        transform: translateY(11px) rotate(45deg);
    }

    #btn.on span:nth-of-type(2) {
        transform: scale(0);
    }

    #btn.on span:nth-of-type(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .header-nav__list {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        /* padding: 20px 0; */
        transition: all 0.5s ease;
        width: 100%;
        height: 100vh;
        top: -1000px;
        left: 0;
        background: #FFFFFF;
        position: fixed;
        margin: 0;
    }

    .header-nav__list.on {
        top: 0;
    }

    .header-nav__form {
        margin: 0;
    }

    .header-nav__link, .header-nav__button {
        margin: 15px auto;
    }

    /* ページネーション */
    .pagination li:not(.active) {
        padding: 4px 11px;
        font-size: 14px;
    }

    .active {
        padding: 4px 11px;
        font-size: 14px;
    }
}