.date__content {
    margin: 0 auto;
    padding: 43px 15px;
    height: 83vh;
    background: #F2F2F2;
}

.date-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}

.date-heading__item {
    margin: 0 18px;
}

.date-heading__text {
    font-size: 21px;
    margin: 0;
}

.search-form {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.search-form__button-submit {
    width: 35px;
    height: 26px;
    border: 1px solid #214BE0;
    background: #FFFFFF;
    color: #214BE0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.attendance-table {
    margin: 30px auto 35px;
    width: 90%;
    text-align: left;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-top: 1px solid #909090;
}

.attendance-table__header, .attendance-table__text {
    width: 20%;
    padding: 18px 0 18px 70px;
    line-height: 30px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .date__content {
        padding: 100px 15px;
    }

    .attendance-table__header,
    .attendance-table__text {
        padding: 15px 0 15px 20px;
    }

}

@media screen and (max-width: 480px) {
    .date__content {
        padding: 60px 15px;
    }

    .date-heading__item {
        margin: 0 12px;
    }

    .date-heading__text {
        font-size: 18px;
    }

    .search-form__button-submit {
        width: 32px;
        height: 23px;
        font-size: 20px;
    }

    .attendance-table {
        width: 95%;
    }

    .attendance-table__header,
    .attendance-table__text {
        width: 19%;
        padding: 15px 0 15px 7px;
        line-height: 20px;
        font-size: 11px;
    }

    .attendance-table__header:first-of-type,
    .attendance-table__text:first-of-type {
        width: 24%;
    }
}