.register__content {
    margin: 0 auto;
    padding: 70px 15px;
    height: 83vh;
    background: #F2F2F2;
}

.register-form__heading {
    text-align: center;
    font-size: 21px;
}

.form {
    margin: 0 auto;
    padding: 30px 100px;
    width: 100%;
    text-align: center;
}

.form__group {
    margin: 6px auto;
}

.form__error {
    height: 20px;
    width: 350px;
    color: #ff0000;
    text-align: left;
    margin: 0 auto;
}

.form__input--text input {
    padding: 15px;
    width: 350px;
    height: 43px;
    border: 2px solid #909090;
    color: #909090;
    font-size: 14px;
    appearance: none;
    border-radius: 5px;
    background: transparent;
}

.form__input--text input::placeholder {
    color: #909090;
    opacity: 1;
}

.form__button {
    margin-top: 27px;
}

.form__button-submit {
    padding: 10px 40px;
    width: 350px;
    height: 43px;
    border: 2px solid #214BE0;
    background: #214BE0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.login__button {
    text-align: center;
}

.login__message {
    color: #909090;
    font-size: 14px;
    margin: 0;
}

.login__button-link {
    color: #214BE0;
    text-decoration: none;
    font-size: 14px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .register__content {
        padding: 100px 15px;
    }
}

@media screen and (max-width: 480px) {
    .register__content {
        padding: 50px 15px;
    }

    .register-form__heading {
        font-size: 20px;
    }

    .form {
        padding: 30px 0;
    }

    .form__input--text input {
        width: 300px;
    }

    .form__button-submit {
        width: 300px;
    }

    .login__message {
        font-size: 13px;
    }

    .login__button-link {
        font-size: 13px;
    }
}