.user__content {
    margin: 0 auto;
    padding: 43px 15px;
    height: 655px;
    /* max-width: 1230px; */
    background: #F2F2F2;
}

.user-heading {
    margin-bottom: 45px;
    text-align: center;
    /* font-size: 35px; */
}

.user-heading__text {
    font-size: 21px;
    margin: 0;
    /* text-align: center; */
}

.user-table {
    margin: 30px auto 35px;
    width: 90%;
    text-align: left;
}

.user-table__inner {
    width: 100%;
    /* border-spacing: 100px; */
    /* font-size: 20px; */
}

.user-table__row {
    border-top: 1px solid #909090;
    /* border-top: 1px solid #a9a9a9; */
}

.user-table__header,
.user-table__text {
    width: 33%;
    padding: 18px 0 18px 110px;
    line-height: 30px;
}

/* .user-table__header:first-of-type,
.user-table__text:first-of-type {
    padding-left: 75px;
}

.user-table__header:last-of-type,
.user-table__text:last-of-type {
    padding-right: 75px;
} */

.form__button-submit {
    width: 75px;
    height: 30px;
    border: 1px solid #214BE0;
    background: #FFFFFF;
    color: #214BE0;
    cursor: pointer;
    /* font-size: 18px; */
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}