.user__content {
    margin: 0 auto;
    padding: 43px 15px;
    height: 83vh;
    background: #F2F2F2;
}

.user-heading {
    margin-bottom: 45px;
    text-align: center;
}

.user-heading__text {
    font-size: 21px;
    margin: 0;
}

.attendance-table {
    margin: 30px auto 35px;
    width: 90%;
    text-align: left;
}

.attendance-table__inner {
    width: 100%;
}

.attendance-table__row {
    border-top: 1px solid #909090;
}

.attendance-table__header,
.attendance-table__text {
    width: 20%;
    padding: 18px 0 18px 70px;
    line-height: 30px;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .user__content {
        padding: 100px 15px;
    }

    .attendance-table__header,
    .attendance-table__text {
        padding: 15px 0 15px 20px;
    }

}

@media screen and (max-width: 480px) {
    .user__content {
        padding: 50px 15px;
    }

    .user-heading__text {
        font-size: 18px;
    }

    .attendance-table {
        width: 95%;
    }

    .attendance-table__header,
    .attendance-table__text {
        width: 19%;
        padding: 15px 0 15px 7px;
        line-height: 20px;
        font-size: 11px;
    }

    .attendance-table__header:first-of-type,
    .attendance-table__text:first-of-type {
        width: 24%;
    }
}