.container {
    margin: 0 auto;
    padding: 70px;
    height: 83vh;
}

.btn {
    padding: 3px 10px;
    border: none;
    background: #214BE0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
}
